---
layout: theater
title: Debbie and David DeVincent's Wedding in Cozumel
subtitle: Cozumel, Mexico - Before, During, and After June 18, 2010
permalink: /cozumelwedding/
---

<a class="photos-link" href="https://picasaweb.google.com/116214600677210676101" target="_blank">
    Click here to view photos
</a>

<h3 class="video-title">Captured Moments</h3>
<h4 class="video-subtitle">Overview of the Entire Week</h4>
{% include gdrive-embed.html gdrive_id="0BytNS32PqSWKMFBYY0MwcVJWSzg" %}

<h3 class="video-title">The Wedding Ceremony</h3>
<h4 class="video-subtitle">The Wedding Ceremony, Itself</h4>
{% include gdrive-embed.html gdrive_id="0BytNS32PqSWKcU9uWng0QVM4cXM" %}
