<div class="content-section light">
    <div class="content-wrapper">
        <h1>Videos</h1>

        <p>Here are some videos we've made over the years:</p>

        <div class="photogrid-links">
            <a class="photogrid-link-wrapper" href="{{ '/cozumelwedding/' | relative_url }}">
                <div class="photogrid-link-header">Watkins-DeVincent Wedding</div>
                <div
                    class="photogrid-link-img"
                    style="background-image: url({{ '/i/video-thumbs/cozumel-wedding.jpg' | relative_url }});"
                ></div>
            </a>

            <a class="photogrid-link-wrapper" href="{{ '/juniata/' | relative_url }}">
                <div class="photogrid-link-header">Juniata Reunions</div>
                <div
                    class="photogrid-link-img"
                    style="background-image: url({{ '/i/video-thumbs/juniata.jpg' | relative_url }});"
                ></div>
            </a>

            <a class="photogrid-link-wrapper" href="https://www.youtube.com/watch?v=RhVGdLwhZg8" target="_blank">
                <div class="photogrid-link-header">Why's It Feel So Long (Bogie)</div>
                <div
                    class="photogrid-link-img"
                    style="background-image: url({{ '/i/video-thumbs/bogie.jpg' | relative_url }});"
                ></div>
            </a>

            <a class="photogrid-link-wrapper" href="{{ '/jean/' | relative_url }}">
                <div class="photogrid-link-header">In Loving Memory of Jean Keown</div>
                <div
                    class="photogrid-link-img"
                    style="background-image: url({{ '/i/video-thumbs/jean.jpg' | relative_url }});"
                ></div>
            </a>
        </div>
    </div>
</div>
